body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* background: yellow; */
}

.title{
    font-family: 'Reem Kufi', sans-serif;
	font-size: 3.65em;
    font-weight: 600;
    
}

 header{
   /* background: black;
   color: white;     */
} 

.card{
    margin: auto;
    /* border: solid black 2px; */
    height: 420px;
    width: 360px;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    /* align-content: ; */
}

.back-side{
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

button{
    height: 30px;
}



.buttons{
    display: flex;
    justify-content: center;
} 

.description{
    font-size: 1.6em
}

.hidden{
    display: none;
}

#hide-button{
    display: none;
}
#hide-flip{
    display: none;
}

#hide-next{
    display: none;
}

.restart-button{
    align-self: center;
    height: 50px; 
    width: 80px;
    /* right: 200px; */
}

.title-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hide-restart{
    display: none;
}