body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: white;
}

a{
    color: #81B29A;
    font-family: 'Nanum Gothic', sans-serif;
}

.title{
    font-family: 'Reem Kufi', sans-serif;
	font-size: 3.65em;
    font-weight: 400;  
    font-family: sans-serif;
}

header{
    background: white;
}

.start-container{
    padding-bottom: 12px;
}

.card{
    margin: auto;
    height: 420px;
    width: 360px;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #B76D68;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}

.card-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
}




.buttons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
} 

.description{
    font-size: 1.6em
}

.hidden{
    display: none;
}

#hide-button{
    display: none;
}
#hide-flip{
    display: none;
}

#hide-next{
    display: none;
}

.restart-button{
    align-self: center;
    height: 50px; 
    width: 80px;
    /* right: 200px; */
}

.title-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -10px;
    border-bottom: solid #B76D68 2px;
}

.hide-restart{
    display: none;
}

.image-container{
    height: 180px;
}

.aside{
    margin-top: 120px; 
    width: 50%;
    margin-left: 65px;
    font-size: 1.25em;
}

button{
    background-color: #121420;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #121420;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #121420;
}

button:hover {
	background-color: #121420;
}
button:active {
	position:relative;
	top:1px;
}

.save-button{
    height: 35px;
    width: 180px;
    justify-self: end;
    align-self: center;
    margin-right: 80px; 
}

.list-item{
    font-family: 'Reem Kufi', sans-serif;
	font-size: 1.7em;
    font-weight: 100; 
}

#brain{
    align-self: center;
}

button{
    font-size: 25px;
}

.restart-button{
    width: 170px;
}

.list-header{
    border-bottom: solid #121420 5px;
    font-family: 'Reem Kufi', sans-serif;
	font-size: 2em;
    font-weight: 120; 
}

.like{
    justify-content: flex-end;
}

.list-header{
    /* padding-left: 500px; */
}

.list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 90px;
    
}
.js-image-container{
    display: flex;
    position: absolute;
    justify-content: flex-start;
}
.js-img{
    /* align-self: flex-start; */
}

.saved-list{
    position: absolute;
}


.game-container{
    margin-top:80px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: solid #B76D68 2px;
}

.flash-card-game{
    align-self: center;
    height: 620px;

}

